@import '../../styles/layout/grids';
@import '../../styles/constants/colors';
@import '../../styles/mixins/flexbox';
@import '../../styles/mixins/responsive';

.app {
    @include column-flexbox(start);
    min-height: 100vh;
    background-color: $background;
    // overflow-y: auto;
}

.wrapper {
    @include flexbox(start, start);
    flex: 1;
}

.section {
    @include flexbox(start, start);
    flex: 1 1 100%;
    
    .aside {
        height: 100%;
        padding: 20px 20px 20px 0;
        flex-basis: 20%;
        margin-right: 20px;
        // box-shadow: 7px 3px 7px 0px rgba(190,190,190,0.3);
    }

    .main {
        height: 100%;
        padding: 20px 0 60px 0;
        // background-color: $white;
        flex: 1;
        border-radius: 20px;
    }
}