@import '../../styles/layout/grids';
@import '../../styles/mixins/flexbox';
@import '../../styles/mixins/responsive';

.wrapper {
    @include column-flexbox(start);
}

.section {
    width: 100%;
    height: 100%;
    @include flexbox(start, start);

    .aside {
        height: 100%;
        flex-basis: 25%;
    }

    .main {
        flex: 1;
    }
}