@import '../../styles/constants/colors';
@import '../../styles/mixins/flexbox';
@import '../../styles/layout/grids';

.headerWrapper {
    width: 100%;
    background-color: $white;
    box-shadow: -4px 2px 7px -1px rgba(176,176,176,0.5);
    
    .header {
        @include flexbox(between);
        padding: 1.5rem 0;

        .logo {
            width: 100px;
            
            img {
                width: 100%;
            }
        }
    
        .search {
            width: 30%;
            
            input {
                border: none;
            }
        }

        .icon {
            padding: 5px;

            &:not(:last-child) {
                margin-right: 0.5rem;
            }
            
            i {
                color: $secondary;
                font-size: 1.7rem;
            }

            &:hover {
                i {
                    color: $black;
                }
            }
        }
    }
}

