@import '../../styles/constants/colors';
@import '../../styles/mixins/flexbox';
@import '../../styles/layout/grids';
@import '../../styles/mixins/responsive';
@import '../../styles/mixins/text_style';

.signup {
  @include column-flexbox();

  width: 100%;
  padding: 0 1rem;
  height: 100vh;
  margin: 0 auto;

  @include responsive('T') {
    width: 400px;
    padding: 0;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .signupWrapper {
    width: 100%;

    .form {
      input {
        height: 34px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
      }

      .error {
        color: $red;
        margin-bottom: 1rem;
      }

      margin-bottom: 2rem;
    }

    .login {
      p {
        @include text-style(14, $secondary);
        margin-bottom: 0.5rem;
      }
    }

    button {
      width: 100%;
    }
  }
}
