@import '../../styles/constants/colors';
@import '../../styles/mixins/flexbox';
@import '../../styles/mixins/text_style';
@import '../../styles/modules/form';

.search {
    @include flexbox();

    padding: 5px 20px;
    background: $white;
    border-radius: 10px;
    border: 1px solid $tertiary;
    
    i {
        color: $secondary;
        font-size: 1.2rem;
    }
}