$black: #000;
$dark: #191a20;
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f7f7;
$white: #fff;

$purple-light: #b7b7f9;
$purple: #7f7fd5;
$purple-dark: #6d6dd2;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
$mint: #91EAE4;
