@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$font-main: 'Roboto', sans-serif;

$font-size-main-title: 3.2rem;
$line-height-main-title: 1.5;
$letter-spacing-main-title: -0.005em;

$font-size-secondary-main-title: 2.5rem;
$line-height-secondary-main-title: 1.5;
$letter-spacing-secondary-main-title: -0.005em;

$font-size-sub-title: 1.6rem;
$line-height-sub-title: 1.5;
$letter-spacing-sub-title: -0.005em;

$font-size-secondary-sub-title: 1.4rem;
$line-height-secondary-sub-title: 1.5;
$letter-spacing-secondary-sub-title: -0.005em;

$font-size-item: 1.1rem;
$line-height-item: 1.5;
$letter-spacing-item: -0.005em;

$font-size-additional: 1rem;
$line-height-additional: 1.5;
$letter-spacing-additional: -0.005em;
