%btn-base {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: 700;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 500;
}

.btn-primary {
  @extend %btn-base;
  color: $white;
  background-color: $black;
  transition: background-color 200ms ease-in-out;
  border: 1px solid $black;

  &:not(:disabled):hover {
    background-color: $white;
    color: $black;
  }
}

.btn-32 {
  height: 32px; 
}

.btn-40 {
  height: 40px;
}