@import '../constants/colors';
@import '../mixins/text_style';
@import '../mixins/position';

%profile-base {
    width: 35px;
    height: 35px;
    border: 1px solid $border;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;

    svg {
        @include pos-center-x;
        top: 5px;
        width: 100%;
        height: 100%;
        color: $tertiary;
    }

    img {
        width: 100%;
        overflow: hidden;
    }
}