@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/text_style';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/responsive';
@import '../../../styles/layout/grids';

.comments {
    padding-top: 1rem;
    border-top: 1px solid $border;
    margin: 1rem 20px 0;
    
    @include responsive(T) {
        margin: 1rem 0 0;
    }

    .length {
        @include text-style(14, $primary);
        font-weight: 700;
    }

    .form {
        position: relative;
        padding: 1rem 0;
        
        input {
            padding-right: 37px;
        }
        
        button {
            @include pos-center-y();
            right: 5px;
            width: 32px;
            color: $primary;

            &:hover {
                color: $primary;
            }
        }
    }

    .cancelBtn {
        color: $blue-dark;
    }

    ul {
        .list {
            @include flexbox(start,start);

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            .img {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .name {
                @include text-style(13, $secondary);
                font-weight: 400;
            }

            .rhtBox {
                width: 100%;
            }
            
            .content {

                .date {
                    @include text-style(12, $secondary);
                    margin-left: 5px;
                    line-height: 1;
                }

                .description {
                    @include text-style(14, $black);
                }

                .commentInput {
                    width: 100%;
                }

                .myCommentBtns {
                    margin-left: .5rem;
                    
                    button {
                        &:not(:last-child) {
                            margin-right: 3px;
                        }

                        svg {
                            color: $dark;
                            font-size: 11px;
                        }
                    }
                }

            }
        }
    }
}