@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/text_style';
@import '../../../styles/mixins/position';

.comments {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $border;

    .length {
        @include text-style(14, $primary);
        font-weight: 700;
    }

    .form {
        position: relative;
        padding: 1rem 0;
        
        input {
            padding-right: 37px;
        }
        
        button {
            @include pos-center-y();
            right: 5px;
            width: 32px;

            &:hover {
                color: $primary;
            }
        }

    }

    ul {
        .list {
            @include flexbox(start,start);

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            .img {
                width: 30px;
                height: 30px;            
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                margin: 5px 0.5rem 0;
                border: 1px solid $border;
                flex-shrink: 0;

                svg {
                    @include pos-center-x();
                    top: 3px;
                    width: 100%;
                    height: 100%;
                    color: $tertiary;
                }

                img {
                    width: 100%;
                    overflow: hidden;
                }
            }

            .name {
                @include text-style(13, $secondary);
                font-weight: 400;
            }

            .rhtBox {
                width: 100%;
            }
            
            .content {

                .date {
                    @include text-style(12, $secondary);
                    margin-left: 5px;
                    line-height: 1;
                }

                .description {
                    @include text-style(14, $black);
                }

                .commentInput {
                    width: 100%;
                }

                .myCommentBtns {
                    margin-left: .5rem;
                    
                    button {
                        &:not(:last-child) {
                            margin-right: 3px;
                        }

                        svg {
                            color: $dark;
                            font-size: 11px;
                        }
                    }
                }

            }
        }
    }
}