@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';


.setting {
    padding: 50px;
    background-color: $background;
    // border: 1px solid $border;
    border-radius: 1rem;
    
    .settingWrapper {
        @include column-flexbox();
        width: 350px;
        margin: 0 auto;
        position: relative;
    }

    .profile {
        margin-bottom: 3rem;
        position: relative;

        .profileTop {
            position: relative;
            margin-bottom: 2rem;
        }

        .profileImg {
            width: 150px;
            height: 150px;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $tertiary;
    
            svg {
                @include pos-center-x;
                top: 20px;
                width: 100%;
                height: 100%;
                color: $secondary;
            }
    
            img {
                @include pos-center();
                width: 100%;
            }
        }

        .deleteProfileBtn {
            button {
                @include flexbox();
                margin: 0 auto;
    
                svg {
                    margin-right: 5px;
                }
            }
        }

        .profileBtn {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 0;
            right: 5px;
            color: $dark;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .content {
        width: 100%;
    
        .list {
            overflow: hidden;

            label {
                display: block;
                margin-bottom: 1rem;
                @include text-style(16);
                font-weight: 600;
            }

            input {
                width: 100%;
                height: 50px;
                text-align: center;
                @include text-style(16);

                &:disabled {
                    cursor: initial;
                }
            }

            .error {
                color: $red;
                margin-bottom: 1rem;
            }

            button {
                margin-top: 1rem;
                text-align: right;
                font-weight: 600;
                float: right;
                color: $blue;
            }
        }
    }

    .backBtn {
        @include flexbox();
        position: absolute;
        left: 0;
        bottom: -15px;
        @include text-style(16);
        font-weight: 600;

        svg {
            margin-right: 10px;
            font-size: 24px;
            color: $dark;
        }
    }

 }
 