@import '../../../styles/constants/colors';
@import '../../../styles/mixins/text_style';
@import '../../../styles/modules/form';

$heights : ('40','45','50','55','60','65','70','75','80','85','90','95','100');

.textarea {
    @extend %form-base;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;

    @each $height in $heights {
        &.height-#{$height} {
            height: #{$height}px;
        }
    }
}

.input {
    @extend %form-base;

    &.variant-primary {
        border: 1px solid $tertiary;
    }

    &.variant-secondary {
        border: 1px solid $border;
    }

    &.variant-background {
        background-color: $background;

        &:hover {
            border: 1px solid $tertiary;
        }
    }

}
