@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/position';
@import '../../../styles/layout/grids';
@import '../../../styles/mixins/responsive';
@import '../../../styles/constants/colors';

.postForm {
    @include flexbox(start, start);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border;
    
    .profile {
        width: 30px;
        height: 30px;
        border: 1px solid $border;
        border-radius: 50%;
        margin-right: 10px;
        overflow: hidden;
        text-align: center;
        position: relative;

        svg {
            @include pos-center-x;
            top: 4px;
            width: 100%;
            height: 100%;
            color: $tertiary;
        }

        img {
            width: 100%;
            overflow: hidden;
        }
    }

    .content {
        flex: 1;

        .others {
            margin-top: 1rem;
            flex: none;
            
            @include responsive("D") {
                @include flexbox(between, center);
            }
        }

        .uploadedImg {
            .alert {
                color: $red;
                margin-bottom: 10px;
            }

            ul {
                @include flexbox(start, start);
                flex-wrap: wrap;

                li {
                    @include flexbox();

                    border: 1px solid $border;
                    background-color: $white;
                    padding: 0.5rem 1rem;
                    border-radius: 1rem;
                    margin-right: 10px;
                    margin-bottom: 5px;

                    button {
                        width: 16px;
                        height: 16px;
                        margin-left: 10px;
                        
                        svg {
                            font-size: 1.1rem;
                            color: $primary;
                        }
                    }
                }
            }
        }

        .btnWrapper {
            @include flexbox(end);
            flex-wrap: wrap;
            flex: 1;

            button {
                width: 100%;
                height: 36px;

                &:not(:nth-child(1)) {
                    margin-bottom: 1rem;
                }    
            }

            @include responsive("T") {
                flex-wrap: initial;

                button {
                    min-width: 150px;
                }

                *:not(:last-of-type) {
                    margin-right: 10px;
                }
            }

            @include responsive("D") {
                button {
                    width: 150px;
                    height: 32px;
                }
            }

            svg {
                margin-right: 5px;
            }
        }
    }
    
}
