@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/position';
@import '../../../styles/constants/colors';

.postForm {
    @include flexbox(start, start);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border;
    
    .img {
        width: 30px;
        height: 30px;
        border: 1px solid $border;
        border-radius: 50%;
        margin-right: 10px;
        overflow: hidden;
        text-align: center;
        position: relative;

        svg {
            @include pos-center-x;
            top: 4px;
            width: 100%;
            height: 100%;
            color: $tertiary;
        }

        img {
            width: 100%;
            overflow: hidden;
        }
    }

    .content {
        flex: 1;

        .btnWrapper {
            @include flexbox(end);
            margin-top: 1rem;
    
            *:not(:last-of-type) {
                margin-right: 10px;
            }

            svg {
                margin-right: 5px;
            }
        }
    }
    
}
