@import '../../../styles/layout/grids';
@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';
@import '../../../styles/modules/profile';

.modalContainer {
  .modalBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 110;
  }
  
  .modal {
    @include pos-center(fixed);
    @include column-flexbox();
    min-width: 350px;
    min-height: 450px;
    border-radius: 6px;
    background-color: $white;
    z-index: 120;

    .profile {
        position: relative;

        .profileImg {
          @extend %profile-base;
          width: 150px;
          height: 150px;
          border: 1px solid $tertiary;

          svg {
              top: 20px;
              color: $secondary;
          }
        }
    }

    .user {
        margin: 2rem 0 3rem 0;
        text-align: center;

        .username {
          @include text-style(16, $secondary);
        }
        
        .usercode {
          font-size: 36px;
          font-weight: 600;
        }
    }

    .btnBox {
      button {
        svg {
          color: $white;
          margin-right: 10px;
          font-size: 15px;
        }

        &:disabled {
          svg {
            color: $tertiary;
          }
        }
      }
    }
    
    .closeBtn {
      width: 30px;
      height: 30px;
      padding: 5px;
      position: absolute;
      right: 1rem;
      top: 1rem;
  
      svg {
        width: 100%;
        height: 100%;
        color: $dark;
      }
    }
  }
}