@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/layout/grids';
@import '../../../styles/constants/typography';

.headerWrapper {
    width: 100%;
    background-color: $white;
    box-shadow: -4px 2px 7px -1px rgba(176,176,176,0.5);
    
    .header {
        @include flexbox(between);
        padding: 1.5rem 0;

        .logo {
            
            a {
                @include flexbox(start, center);
                width: 40px;
                font-family: $font-logo;
                letter-spacing: 0.2rem;
                font-size: 2.3rem;
                
                img {
                    width: 100%;
                    margin-right: 10px;
                }
            }

        }
    
        .search {
            width: 30%;
            
            input {
                border: none;
            }
        }

        .icon {
            padding: 5px;
            
            &.active {
                i {
                    color: $black;
                }
            }

            &:not(:last-child) {
                margin-right: 0.5rem;
            }
            
            svg {
                color: $secondary;
                font-size: 1.7rem;
            }

            &:hover {
                svg {
                    color: $black;
                }
            }
        }
    }
}

