@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/position';
@import '../../../styles/layout/grids';
@import '../../../styles/mixins/responsive';
@import '../../../styles/constants/typography';

.headerWrapper {
    width: 100%;
    background-color: $white;
    box-shadow: -4px 2px 7px -1px rgba(176,176,176,0.5);
    
    .header {
        @include flexbox(between);
        padding: 1.5rem 0;

        .logo {
            a {
                @include flexbox(start, center);
                margin: 0 auto;
                
                @include responsive(D) {
                    margin: 0;
                }
                
                img {
                    width: 40px;
                    margin-right: 10px;
                }

                span {
                    font-family: $font-logo;
                    letter-spacing: 0.2rem;
                    font-size: 2.3rem;
                }
            }
        }
        
        .mobileNav {
            .hamburger {
                width: 36px;
                height: 36px;
                padding: 5px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            .slideBoxBg {
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 790;
            }
        }

        .search {
            width: 30%;
            
            input {
                border: none;
            }
        }


        .rightArea  {
            @include flexbox();

            .profile {
                width: 35px;
                height: 35px;
                border: 1px solid $border;
                border-radius: 50%;
                margin-left: 10px;
                overflow: hidden;
                text-align: center;
                position: relative;

                svg {
                    @include pos-center-x;
                    top: 4px;
                    width: 100%;
                    height: 100%;
                    color: $tertiary;
                }
    
                img {
                    width: 100%;
                    overflow: hidden;
                }
            }
    
            .icon {
                padding: 5px;
                
                &.active {
                    i {
                        color: $black;
                    }
                }
    
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
                
                svg {
                    color: $secondary;
                    font-size: 1.7rem;
                }
    
                &:hover {
                    svg {
                        color: $black;
                    }
                }
            }

        }
    }
}

