/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base style */
/* profile */
/* .profile-base {
  @apply w-[35px] h-[35px] border border-p2p-border rounded-full mr-2 overflow-hidden text-center relative;
}

.profile-base svg {
  @apply absolute top-[5px] left-1/2 transform -translate-x-1/2 w-full h-full text-p2p-tertiary;
}

.profile-base img {
  @apply w-full overflow-hidden;
} */

/* form */
/* .form-base {
  @apply text-p2p-14 text-p2p-black w-full h-[28px] px-10 border border-p2p-border appearance-none transition-colors ease-out duration-200 placeholder:text-p2p-tertiary disabled:cursor-not-allowed disabled:opacity-40;
} */

/* Custom Reset */
:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
  resize: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}
