@import '../../styles/constants/colors';
@import '../../styles/mixins/text_style';
@import '../../styles/mixins/flexbox';
@import '../../styles/mixins/responsive';
@import '../../styles/layout/grids';

.messenger {
    width: 100%;
    
    @include responsive(D) {
        @include flexbox(start, start);
    }
}

.messageList {
    width: 100%;
    height: calc(100vh - 199px);
    overflow-y: auto;

    h2 {
        @include text-style(16, $black);
        margin-bottom: 1rem;
        font-weight: 400;
    }
    
    ul {
        padding-right: 1rem;
        overflow-y: auto;
    }
}

.messageRoom {
    width: 100%;
    height: calc(100vh - 199px);
    position: relative;
    overflow: hidden;
}

@include responsive(D) {
    .messageList {
        width: 30%;
        border-right: 1px solid $border;
    }

    .messageRoom {
        width: 70%;
    }
    
}