@import '../../../styles/layout/grids';
@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';

.title {
    @include text-style(24);
    margin-bottom: 1rem;
}

.list {
    @include flexbox(start, center);
    margin-bottom: 5px;

    border: 1px solid $border;
    border-radius: 10px;
    background-color: $white;
    padding: 10px;
    cursor: pointer;

    &:hover {
        border: 1px solid $tertiary;
    }

    .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 5px;

        img {
            width: 100%;
        }
    }

    .content {
        @include column-flexbox(start, start);
        flex: 1;

        .user {
            @include flexbox(between, center);
            width: 100%;
            
            .name {
                @include text-style(14);
                margin-right: 5px;
            }

            .date {
                @include text-style(12, $secondary);
            }
        }

        .text {
            @include text-style(14, $secondary);
        }
    }
}