@import '../../../styles/layout/grids';
@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';

.title {
    @include text-style(24);
    margin-bottom: 1rem;
}

.list {
    @include flexbox(start, center);
    margin-bottom: 10px;
    flex-wrap: wrap;
    // border: 1px solid $border;
    border-radius: 10px;
    background-color: $white;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 3px 9px -5px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    &:hover {
        // border: 1px solid $tertiary;
    }

    .content {
        @include column-flexbox(start, start);
        flex: 1;
        max-width: calc(100% - 55px);
        width: 50px;
        position: relative;
        overflow: hidden;

        .user {
            @include flexbox(between, center);
            width: 100%;
            
            .name {
                @include text-style(14);
                margin-right: 5px;
            }

            .date {
                @include text-style(12, $secondary);
            }
        }


        .text {
            width: calc(100% - 24px);
            @include text-style(14, $secondary);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .alert {
            width: 20px;
            height: 20px;
            background-color: $red;
            border-radius: 50%;
            position: absolute;
            right: 0;
            bottom: 0;

            span {
                @include pos-center();
                @include text-style(12, $white);
                font-weight: 600;
            }
        }
    }
}