@import '../../../styles/layout/grids';
@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';
@import '../../../styles/modules/profile';

.messageRoom {
    @include column-flexbox(start, between);
    height: 100%;
    overflow-y: auto;
    
    .top {
        flex-shrink: 0;
        padding: 0 10px;
        background-color: #f2f2f2;
        
        & > div {
            @include flexbox(start, center);
            width: 100%;
            padding: 1.5rem 0rem;
            border-bottom: 1px solid $border;
        }

        .closeBtn {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            border-radius: 50%;
            padding: 0.3rem;

            &:hover {
                svg {
                    color: $dark;
                }
            }

            svg {
                width: 100%;
                height: 100%;
                color: $primary;
                
            }
        }

        .profile {
            width: 40px;
            height: 40px;

            svg {
                top: 7px;
            }
        }

        .name {
            .usercode {
                @include text-style(20, $dark);
                font-weight: 700;
            }
    
            .username {
                @include text-style(14, $secondary);

            }
        }

        .dotsBtn {
            position: absolute;
            right: 1.5rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0.5rem;

            &:hover {
                background-color: $tertiary;

                svg {
                    color: $white;
                }
            }

            svg {
                width: 100%;
                height: 100%;
                color: $dark;
            }
        }
    }

    .content {
        @include column-flexbox(start, end);
        flex: 1;
        padding: 1rem;
        overflow: auto;

        .textBox {
            @include flexbox();

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            .profile {
                @extend %profile-base;
            }

            .message {
                @include flexbox(start, end);
                flex: 1;

                .ballon {
                    padding: 0.5rem 1rem;
                    line-height: 1.5;
                    border-radius: 10px;
                }
            }
            
            .time {
                @include text-style(12, $secondary);
            }

            &.received {
                .profile {
                    margin-right: 10px;
                }

                .ballon {
                    background-color: #E9E9EA;
                    color: $dark;
                    margin-right: 5px;
                }
            }
            
            &.sended {
                flex-direction: row-reverse;

                .profile {
                    margin-left: 10px;
                }
                
                .message {
                    flex-direction: row-reverse;
                }

                .ballon {
                    background-color: $purple-dark;
                    color: $white;
                    margin-left: 5px;
                }
            }
        }
    }
    
    .form {
        flex-shrink: 0;
        position: relative;
        margin: 10px;

        input {
            height: 38px;
            padding-right: 37px;
            
            &:hover {
                border: 1px solid  $tertiary;
            }
        }

        button {
            @include pos-center-y();
            right: 1rem;
            width: 16px;
            height: 16px;
            color: $primary;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}