@import '../../../styles/layout/grids';
@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';

.card {
    border: 1px solid $border;
    background-color: $white;
    border-radius: 10px;
    padding: 20px;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    .top {
        @include flexbox(between);
        margin-bottom: 20px;

        .profile { 
            @include flexbox(start);
    
            .img {
                width: 30px;
                height: 30px;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 1rem;
                border: 1px solid $border;
    
                svg {
                    @include pos-center-x;
                    top: 3px;
                    font-size: 30px;
                    color: $tertiary;
                }
    
                img {
                    @include pos-center();
                    width: 100%;
                }
            }

            .postInfo {
                .name {
                    @include text-style(16, $black);
                    font-weight: 500;
                }
        
                .date {
                    @include text-style(14, $secondary);
                    line-height: 1;
                }
        
                .status {
                    margin-left: 5px;
                    color: $secondary;   
                }
            }
        }

        // .otherBtn {
        //     button {
        //         display: inline-block;
        //         width: 30px;
        //         height: 30px;
        //         min-width: 100%;
        //         border-radius: 50%;
        //         position: relative;
                
        //         svg {
        //             @include pos-center();
        //             color: $primary;
        //             font-size: 1.3rem;
        //         }
                
        //         &:hover {
        //             background-color: $border;
        //         }
        //     }

            
        // }
    }

    .content {
        margin-bottom: 2rem;

        img {
            max-width: 100%;
            margin-bottom: 1rem;
        }
    }

    .reaction {
        button {
            @include inline-flexbox;
            @include text-style(14, $primary);
            font-weight: 500;

            &.likedBtn {
                &.liked {
                    color: $red;
                }

                svg {
                    font-size: 1.3rem;
                }
            }
            
            svg {
                font-size: 1.2rem;
                margin-right: 5px;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}