@import '../../../styles/layout/grids';
@import '../../../styles/constants/colors';
@import '../../../styles/mixins/flexbox';
@import '../../../styles/mixins/responsive';
@import '../../../styles/mixins/position';
@import '../../../styles/mixins/text_style';

.card {
    border: 1px solid $border;
    background-color: $white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 4px 7px -5px rgba(176, 176, 176, 0.3);

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    .top {
        @include flexbox(between);
        margin-bottom: 20px;

        .profile { 
            @include flexbox(start);
    
            .img {
                width: 35px;
                height: 35px;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 1rem;
                border: 1px solid $border;
    
                svg {
                    @include pos-center-x;
                    top: 5px;
                    width: 100%;
                    height: 100%;
                    color: $tertiary;
                }
    
                img {
                    @include pos-center();
                    width: 100%;
                }
            }

            .postInfo {
                .name {
                    @include flexbox(start, center);
                    @include text-style(16, $black);
                    font-weight: 500;

                    .username {
                        @include text-style(13, $primary);
                        font-weight: 400;
                    }
                }
        
                .dateBox {
                    @include flexbox();
                    
                    .date {
                        @include text-style(14, $secondary);
                        line-height: 1;
                    }
            
                    .status {
                        width: 16px;
                        height: 16px;
                        margin-left: 5px;
                        color: $secondary;
                    }
                }
            }
        }

        .otherBtn {
            position: relative;

            .dotsBtn {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding: 0.5rem;

                &:hover {
                    background-color: $background;
                }

                svg {
                    font-size: 16px;
                }
            }

            ul {
                width: 110px;
                position: absolute;
                right: 15px;
                top: 30px;
                border: 1px solid $border;
                border-radius: 4px;
                background-color: $white;
                box-shadow: 3px 3px 4px -1px rgba(176, 176, 176, 0.5);

                li {
                    &:not(:last-child) {
                        border-bottom: 1px solid $border;
                    }

                    &:hover {
                        background-color: $blue-light;
                    }

                    button {
                        width: 100%;
                        padding: 0.6rem 1rem;
                        text-align: left;
                    }
                }
            }
        }

    }

    .content {
        margin-bottom: 2rem;

        .imgBox {
            @include flexbox(start, start);
            width: 100%;
            overflow: hidden;
            flex-wrap: wrap;
            overflow: hidden;
            flex: 1;
            margin-bottom: 1rem;
        }

        .updateBox {
            @include column-flexbox(end, end);

            textarea {
                border: 1px solid $tertiary;
                margin-bottom: 1rem;
            }

            .updateBtn {
                @include flexbox();
                button {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .reaction {
        button {
            @include inline-flexbox;
            @include text-style(14, $primary);
            font-weight: 500;

            &.likedBtn {
                &.liked {
                    color: $red;
                }

                svg {
                    font-size: 1.3rem;
                }
            }
            
            svg {
                font-size: 1.2rem;
                margin-right: 5px;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}