@import '../constants/colors';
@import '../mixins/text_style';

%form-base {
    @include text-style(14, $black);
    display: block;
    width: 100%;
    height: 28px;
    padding: 0 10px;
    border: 1px solid $border;
    border-radius: 4px;
    background-color: $white;
    appearance: none;
    transition: background-color 200ms ease-in-out;

    &::placeholder {
        color: $tertiary;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }
}